:root {
  --primary-color: #2196F3;
  --text-primary: #4f504d;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-primary);
  margin: 0;
  padding: 12px;
}

.hidden {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}

.icon--loading {
  animation: spin 1s linear infinite; 
  color: var(--primary-color);
}

.field-input--container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececea;
  border-radius: 8px;
}

.field-input {
  padding: 12px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
}

.field-input--error {
  margin-top: 4px;
  font-size: 14px;
  color: #d9534f; /* Bootstrap danger color */
}

.btn {
  min-width: 100px;
  min-height: 42px;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary-color);
  color: #fff;
}

.accordion-item {
  margin-bottom: 8px;
}

.accordion-item:last-child {
  margin-bottom: 0;
}

.accordion-item--header {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ececea;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-item--header--icon--open {
  transform: rotate(180deg);
}

.search-form {
  display: flex;
  align-items: start;
  margin-bottom: 16px;
  gap: 12px;
}

.search-form--field {
  flex: 1;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-state--title {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-primary);
}

.loading-state {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.loading-state--icon {
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
  color: var(--primary-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.repository-list {
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.repository-item {
  margin-bottom: 12px;
}

.repository-item:last-child {
  margin-bottom: 0;
}

.repository-item--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ececea;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-bottom: none;
}

.repository-item--header--title {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-primary);
}

.repository-item--header--star {
  display: flex;
  align-items: center;
  gap: 4px;
}

.repository-item--header--star-count {
  font-size: 14px;
  margin: 0;
}

.repository-item--header--icon {
  width: 16px;
  height: 16px;
  color: var(--text-primary);
}

.repository-item--description {
  padding: 12px;
  font-size: 14px;
  color: var(--text-primary);
  border: 1px solid #ececea;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.repository-item--description--text {
  margin: 0;
  color: #6c757d;
}

.repository-item--load-more {
  background: none;
  border: none;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 100%;
  color: var(--text-primary);
  text-decoration: underline;
}